extends layout

block content
  section.section
    h1.section-title Welcome to Volunteer Engagement App
    .grid
      .card
        h2 Get Started
        p Join our community of volunteers making a difference
        a.btn(href='/volunteers') Volunteer Now
      .card
        h2 Latest Impact
        p See how we're changing lives
        a.btn(href='/impact') View Impact