extends layout

block content
  section.section
    h1.section-title Volunteer Management
    .grid
      .card
        h2 Recruit
        p Find and attract new volunteers
      .card
        h2 Onboard
        p Train and integrate volunteers
      .card
        h2 Assign
        p Match volunteers with projects